:root {
	--accent3: #8f1fffff;
	--accent2: #d32289ff;
	--accent1: #211877ff;
	--secondary: #1d0a33ff;
	--primary: #0f071dff;
	--border-color: #838383;
	--text-color: #dfdfdf;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

html, body {
	height: 100%;
	width: 100%;
	background: var(--primary);
}

header {
 	position: relative;
	display: flex;
	align-items: center;
	justify-content: end;
	background: var(--secondary);
	border: 2px solid var(--border-color);
	border-radius: 15px;
	width: 95%;
	height: 10%;
	padding: 0 15px;
	margin: 20px auto;
}

header a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--text-color);
	height: 100%;
	width: 10%;
}

header a:hover {
	background: rgba(255, 255, 255, 0.1);
}

header a:first-of-type {
	position: absolute;
	left: 15px;
}