@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--accent3: #8f1fffff;
	--accent2: #d32289ff;
	--accent1: rgb(21, 0, 213);
	--secondary: rgb(23, 0, 88);
	--primary: #0f071dff;
	--border-color: #838383;
	--text-color: #dfdfdf;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	interpolate-size: allow-keywords;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: var(--primary);
	color: var(--text-color);
	font-family: poppins;
	display: grid;
	grid-template-rows: 10% 90%;
	overflow: hidden;
}

svg * {
  pointer-events: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--primary);
}

::-webkit-scrollbar-thumb {
	background: var(--accent2);
	border-radius: 10px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--secondary);
	border-bottom: 2px solid var(--border-color);
	width: 100%;
	height: 100%;
	padding: 0 15px;
	grid-row: 1;
}

nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--text-color);
	height: 100%;
	width: min(100px, 15%);
}

nav a:hover {
	transition: 200ms linear;
	background: rgba(255, 255, 255, 0.1);
}

nav a:first-of-type {
	margin-right: auto;
}

.menu-button {
	display: none;
}

#menu {
	display: none;
	overflow-y: auto;
}

main {
	/* Set as the height of the nav */
	grid-row: 2;
	overflow-y: auto;
}

.info-section {
	width: 100%;
	min-height: 50vh;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	text-align: center;
}

#landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 50px;
	border-top: none;
	/* background: var(--primary); */
}

#landing h1 {
	background-image: url(assets/physadelic-colors.jpg);
	background-clip: text;
	color: transparent;
	font-size: 2.3em;
	font-family: bangers;
	font-weight: 300;
}

footer {
	position: absolute;
	bottom: -5px;
	left: -5px;
	width: fit-content;
	background: var(--accent1);
	border: 2px solid white;
	border-top-right-radius: 10px;
	padding: 10px;
	font-size: 0.8em;
	letter-spacing: 3px;
	color: white;
}

/* Landing Page */

#song-grid {
	display: grid;
	margin: 0 auto;
  width: min(80vw, 100%); /* Fixed width relative to viewport */
  grid-template-columns: repeat(auto-fill, minmax(8vw, 1fr)); /* Equal columns */
	grid-auto-rows: 1fr;
  gap: 10px; /* Space between grid items */
	margin-top: 0;
}

.song {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid white; */
	border-radius: 5px;
	aspect-ratio: 1 / 1;
	width: 100%;
	/* background: grey; */
}

.song:hover {
	animation: flip1 linear 1s infinite;
}

@keyframes flip1 {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

#latest-song {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: min(40%, 300px);
}

/* Music Page */

.songs-wrapper {
	display: flex;
	flex-wrap:wrap;
	gap: 30px;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 25px;
	padding-bottom: 100px;
	overflow: auto;
	background-image: url("assets/Abstract-Background.jpg");
	background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
}

.music-card {
	position: relative;
	box-sizing: content-box;
	display: grid;
	grid-template-rows: 100px 0px 0px 0px;
	grid-template-columns: 1fr;
	width: 80%;
	height: 100px;
	background: rgba(0, 0, 0, 0.144);
	border: 2px solid rgba(255, 255, 255, 0.671);
	border-radius: 15px;
	backdrop-filter: blur(7px);
	padding: 15px;
	padding-right: 30px;
	font-size: 0.8em;
	transition: all 0.2s ease-in-out;
}

.expanded {
	grid-template-rows: 100px 100px 100px 100px;
	height: 400px;
}

.expanded .song-icons {
  grid-row: 2 / 4 span;
	width: auto;
	height: 100%;
	left: 50px;
	bottom: 0;
	flex-direction: column;
}

.expanded .song-section {
	visibility: visible;
	opacity: 1;
	/* display: block; */
}

.song-section {
	/* display: none; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	/* background: yellow; */
	margin-top: 20px;
	justify-self: end;
	width: 92%;
	padding: 20px;
	height: 100%;
	border-top: 1px solid var(--border-color);
	transition: all 0.2s ease-in-out;
}

.lyrics {
	grid-row: 2;
}

.inspiration {
	grid-row: 3;
}

.credits {
	grid-row: 4;
}



.song-icons {
	grid-row: 1;
	position: absolute;
	top: 50%;
	left: 55%;
	translate: -50% -50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 500px;
	height: auto;
	transition: all 0.2s ease-out;
}

.song-icons svg {
	width: 3em;
	height: 3em;
	transition: all 0.2s ease-in-out;
}

.song-topbar {
	grid-row: 1;
	grid-column: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 20px;
}

.song-thumbnail {
	position: relative;
	height: 100%;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--border-color);
	border-radius: 10px;
}

.song-thumbnail img {
  width: 100%;
	height: 100%;
	border-radius: 10px;
}

.play-button {
	all: unset;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-button svg {
	width: 100%;
	height: 100%;
	opacity: 0.8;
	cursor: pointer;
}

/* .song-info {
	grid-row: 1;
} */

.song-info p {
	font-weight: 500;
	font-size: 0.8em;
}

.song-duration {
	margin-left: auto;
}

/* .song-audio {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
} */

@media (max-width: 425px) {
	nav a:not(:first-of-type) {
		display: none;
	}

	.menu-button {
		border: none;
		background: none;
		display: flex;
		transition: transform 200ms ease-in;
	}

	.menu-button svg {
		width: 100%;
		height: 100%;
	}

	#menu {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		backdrop-filter: blur(5px);
		border-left: 1px solid var(--border-color);
		width: 50%;
		height: 100%;
		transition: transform 500ms ease-in;
	}

	#menu a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 10%;
		color: white;
		text-decoration: none;
	}

	#menu .menu-button {
		width: 40px;
		height: 40px;
	}

	.menu-slide {
		transform: translateX(200%);
	}

	.rotate-icon {
		transform: rotate(180deg);
	}

	.music-card {
		font-size: 0.7em;
		width: 100%;
		height: 70px;
	}
}