:root {
	--accent3: #8f1fffff;
	--accent2: #d32289ff;
	--accent1: #211877ff;
	--secondary: #1d0a33ff;
	--primary: #0f071dff;
	--text-color: rgb(235, 235, 235);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: black;
}

div {
	width: 200px;
	height: 200px;
	background-color: aqua;
	border: 2px solid red;
	border-radius: 5px;
}