@keyframes ambientMoveBG {
  0% {
    background-position: 50% 50%;
    filter: blur(30px) brightness(1.5) saturate(1.5);
  }
  10% {
    background-position: 70% 30%;
    filter: blur(50px) brightness(1.8) saturate(1.9);
  }
  25% {
    background-position: 80% 10%;
    filter: blur(40px) brightness(1.7) saturate(1.7);
  }
  40% {
    background-position: 20% 80%;
    filter: blur(30px) brightness(1.9) saturate(2);
  }
  50% {
    background-position: 70% 30%;
    filter: blur(35px) brightness(1.6) saturate(1.6);
  }
  65% {
    background-position: 10% 20%;
    filter: blur(60px) brightness(1.8) saturate(1.9);
  }
  75% {
    background-position: 80% 70%;
    filter: blur(65px) brightness(1.9) saturate(1.8);
  }
  90% {
    background-position: 40% 60%;
    filter: blur(50px) brightness(1.5) saturate(1.5);
  }
  100% {
    background-position: 50% 40%;
    filter: blur(30px) brightness(1.5) saturate(1.5);
  }
}

.background {
  width: 125%;
  height: 100%;
  pointer-events: none;
  background-size: 100% 100%;
  filter: blur(30px) brightness(1.5) saturate(1.5);
  animation: ambientMoveBG 15s ease-in-out infinite;
  animation-play-state: paused;
}

.animation {
  animation-play-state: running;
}

@media (max-width: 425px) {
  .background {
    background-size: cover;
  }
}
