.container {
 	backdrop-filter: blur(80px);
	z-index: 2;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 3;
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 15px;
	width: 90%;
	height: 80%;
	margin-top: 80px;
}

.songCover {
	width: 250px;
	height: 250px;
	border: 1px solid var(--border-color);
}

.title {
 margin-top: 10px;
 text-wrap: nowrap;
}

@media (max-width: 425px) { 
	.main {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.main :global(.SongCover) {
		margin: auto;
	}

	.title {
		font-size: 1.5em;
		text-align: center;
		margin-top: 20px;
	}
}