.currentSong {
	display: grid;
	grid-template-columns: auto auto 1fr 5%;
	align-items: center;
	padding: 0 1em;
	position: absolute;
	bottom: 10px;
	left: 50%;
	translate: -50% 0;
	grid-column: 2;
	grid-row: 1;
	z-index: 1;
	width: 95%;
	height: 15%;
	background: rgba(0, 0, 0, 0.85);
	border: 1px solid var(--border-color);
	border-radius: 15px;
	box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.411);
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.songInfo {
	grid-column: 2;
	font-size: 0.8em;
	margin-left: 20px;
}

.songControls {
	grid-column: 3;
	width: 80%;
	justify-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.controlButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.controlButtons svg:hover {
	cursor: pointer;
	transition: 100ms ease-in-out;
	fill: rgb(196, 196, 196);
}

.controlButtons svg:active {
	transition: 100ms ease-in-out;
	scale: 1.2;
}

.timeline {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	width: 100%;
}

.timeline {
	user-select: none;  
	transition: all 0.3s ease-in-out;       /* Prevent text selection */
}

.time {
  width: 40px;
	font-size: 0.8em;
	text-wrap: nowrap;
	font-weight: 600;
	text-align: center;
}

@media (max-width: 600px) {
	.currentSong {
		grid-template-columns: auto auto 1fr 0;
		justify-content: center;
		gap: 10px;
		align-self: end;
		height: 70px;
		grid-row: 1 / 2;
		grid-column: 1;
	}

	.songInfo {
		font-size: 0.5em;
		margin-left: 0;
	}

	.songControls {
		width: 100%;
		grid-column: 3 / 4;
	}

	.songControls button, .songControls .player {
		width: 1.6em !important;
		height: 1.6em !important;
	}

	.expanded {
		padding-top: 5px;
		height: 15%;
		padding-bottom: 30px;
	}

	.expanded .timeline {
		bottom: 5px;
	}

	.timeline {
		position: absolute;
		bottom: -100%;
		width: 75%;
		left: 50%;
		translate: -50% 0;
	}

	.currentSong :global(.SongCover) {
		width: 3em !important;
		height: 3em !important;
	}
}