.button {
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 200ms ease-in-out;
}

.button svg {
	width: 100%;
	height: 100%;
	opacity: 0.8;
	cursor: pointer;
	fill: white;
}