@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--accent3: #8f1fffff;
	--accent2: #d32289ff;
	--accent1: rgb(21, 0, 213);
	--secondary: rgb(32, 32, 32);
	--primary: rgb(15, 15, 15);
	--border-color: #838383;
	--text-color: #dfdfdf;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	interpolate-size: allow-keywords;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: var(--primary);
	color: var(--text-color);
	font-family: poppins;
	display: grid;
	grid-template-rows: 10% 90%;
	overflow: hidden;
	color: white;
}

svg * {
  pointer-events: none;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-button {
	background: transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--accent2);
	border-radius: 10px;
}

.iconButton {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.iconButton svg {
	cursor: pointer;
}