.nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	grid-column: 2;
	background: var(--secondary);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 15px;
	border: 1px solid var(--border-color);
	border-radius: 10px;
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.267);
}

.link {
	text-decoration: none;
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.active {
	color: var(--accent2);
}

.link:hover {
	background: rgba(133, 133, 133, 0.315);
}

@media (max-width: 425px) {
	.nav {
		grid-column: 1;
	}
	
	.link {
		padding: 10px 15px;
	}
}